/* General styling for the entire body */
body {
  font-family: "Poppins", Arial;
  font-size: 150%;
  margin: 0;
  background-color: #2c3e50;
  color: #ffffff;
}

/* Header styling */
.header {
  background-color: #4a235a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
}

/* Hyperlinks in the header */
.header a {
  color: #ffd700;
  text-decoration: none;
  transition: color 0.2s;
}

/* High scores crown icon hover */
.scores:hover .fa-crown {
  color: #6a5acd;
  transition: color 0.2s;
}

/* Header Sections: scores, logo, timer */
.scores,
.logo,
.timer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Scores section positioning */
.scores {
  font-size: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Scores styling */
.scores a {
  display: flex;
  align-items: center;
}

.scores i {
  margin-right: 5px;
}

.logo img {
  max-height: 50px;
  margin: 0;
  padding: 0;
  display: block;
}

/* Timer section positioning */
.timer {
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Timer styling */
.timer i {
  margin-right: 5px;
  margin-left: 10px;
}

/* Wrapper styling */
.wrapper {
  margin: 100px auto 0 auto;
  max-width: 800px;
}

/* Start section styling */
.start {
  text-align: center;
}

/* Other hyperlink styling */
a {
  color: #ffd700;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #8570a5;
}

/* Button styling */
button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: #563d7c;
  border-radius: 5px;
  padding: 8px 20px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #8570a5;
}

/* Choices button styling */
.choices button {
  display: block;
  margin: 0.5rem 0 0.5rem 0;
  text-align: left;
  padding-left: 10px;
}

/* Text input styling */
input[type="text"] {
  font-size: 100%;
  padding: 5px;
}

/* Ordered list styling */
ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 10px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #4a235a;
}

/* Hidden element styling */
.hide {
  display: none;
}

/* Feedback styling */
.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}

/* Correct answer styling */
.correct {
  color: green;
}

/* Incorrect answer styling */
.incorrect {
  color: red;
}

/* Final score color */
#final-score {
  color: greenyellow;
}

/* Icon styling */
.fa-crown {
  color: #ffd700;
}

.fa-clock {
  color: #e74c3c;
}

/* Copyright styling */
.copyright {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.7;
}

/* Background music controls styling */
#audioControls {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

#volumeContainer {
  display: flex;
  align-items: center;
}

#volumeSlider {
  width: 150px;
  margin: 0 10px;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  body {
    font-size: 100%;
  }

  .header {
    height: auto;
  }

  .scores,
  .logo,
  .timer {
    font-size: 1rem;
  }

  .logo img {
    max-height: 2rem;
  }

  .scores,
  .timer {
    position: static;
    text-align: center;
  }

  .wrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #question-title,
  .choices button {
    margin: 1rem 10px;
  }

  .start {
    padding: 0 20px;
  }

  ol {
    max-height: none;
  }

  .copyright {
    position: fixed;
    bottom: 10px;
    left: 10px;
    text-align: left;
  }

  #volumeContainer {
    margin: 20px 0;
  }

  #audioControls {
    flex-direction: column;
  }

  #volumeSlider {
    width: 80px;
    margin: 10px 0;
    transform: rotate(-90deg);
  }
}
